div{
    width: 300px;
    height: 250px;
    margin: 50px auto;
}
input{
    display: block;
    width: 250px;
    margin-left: 20px;
    height: 25px;
    padding: 8px 10px;
    margin-bottom: 20px;
}
button{
    height: 30px;
    background-color: green;
    color: white;
    display: block;
    margin: 0 auto;
}
#div2{
    width: 60%;
    margin: 50px auto;
}