div{
    width: 600px;
    height: 400px;
    margin: 50px auto;
    border: 1px solid gray;
}
img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
#div1{
    position: relative;
}
#b1{
    position: absolute;
    top:200px;
    left:20px;
}
#b2{
    position: absolute;
    top:200px;
    right:20px;
}
button{
    height: 25px;
    border-radius: 5px;
    color: white;
    background-color: green;
    border: none;
}